body {
    font-family: 'Arial', sans-serif;
}

h1, .lead {
    color: #343a40;
}

ul.list-group {
    max-width: 500px;
    margin: 0 auto;
}

button {
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

li.list-group-item {
    font-size: 18px;
    padding: 10px;
}

form .form-control {
    width: 300px;
    margin-bottom: 10px;
}

button i {
    margin-right: 5px;
}
